:root {
    --ellipsis-line: 2;
}

.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--ellipsis-line); /* 限制显示的行数 */
  overflow: hidden;
  text-overflow: ellipsis; /* 省略号 */
}

.image-box {
  padding: 10px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
}